@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #1e3a8a;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
